.nav-menu.active {
    top: 0;
    left: 0;
    transition: 350ms;
}

.nav-menu {
    background-color: #222;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 999;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    width: 100%;
    list-style: none;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 1.5rem;
    background: none;
    color: #fff !important;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0 8px 8px;
    list-style: none;
    height: 60px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-text a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #444;
    color: #1ed760;
}

.title-span {
    margin-left: 16px;
}

.title-span:hover {
    color: #1ed760;
}
