.wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    margin: 0 2rem;
}

.container {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
    height: auto;
    width: 18rem;
    min-width: 18rem;
    color: #555;
}

.container:hover {
    background-color: #555;
}

.profile-img {
    width: 8rem;
    margin-top: 1.5rem;
    margin-bottom: inherit;
    cursor: pointer;
}

.name {
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
}

.artist {
    font-weight: bold;
    font-size: 0.9rem;
    color: #fff;
}

.description {
    margin: 1rem 2rem;
    font-size: 0.8rem;
    color: #fff;
}
