.custom-search-ant-input {
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    z-index: 0;
}

.ant-input-group-wrapper {
    width: 30%;
}

@media (max-width: 700px) {
    .ant-input-group-wrapper {
        width: 50%;
    }
}
