@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.home {
  min-height: 100vh;
  background-color: #111;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  min-height: 100vh;
  background-color: #111;
  display: grid;
  padding-top: 60px;
}
